a {color: olive; text-decoration: none;}
h1 {border-bottom:1.5px solid olive; margin:0; padding:20px;}
#grid ul {border-right:1px solid olive; margin:0; margin-top:10px;  padding:30px;}
#grid {display:grid; grid-template-columns:1fr 5fr;}
#article {padding:30px;}
@media(max-width:1100px){#grid ul{border-bottom:1px solid olive; border-right:none;} #grid {display:block;}}
